name: Lint

on:
  pull_request:
    paths-ignore:
      - "README.md"
      - "docs/**"
      - ".github/**"
jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-setup@v1.0.6

      # TODO: 共通化させる
      - name: setup JDK17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # TODO: 共通化させる
      - name: setup gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: wrapper

      # TODO: 共通化させる
      - name: setup local.properties
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
        run: |
          echo "API_TOKEN=$API_TOKEN" >> local.properties

      - name: setup detekt.properties
        run: |
          # disable autoCorrect
          echo "autoCorrect=false" >> config/detekt/detekt.properties

      - name: run detekt
        run: ./gradlew detekt --continue

      - name: Run report with ReviewDog
        if: ${{ failure() }}
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          < ./build/reports/detekt/merge.xml reviewdog -f=checkstyle -name="detekt" -reporter="github-pr-review"
