name: Lint
run-name: Lint

on:
  pull_request:
    paths-ignore:
      - "README.md"
      - "docs/**"
      - ".github/**"

jobs:
  lint:
    environment: build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-setup@v1.0.6

      - uses: ./.github/actions/setup-java
      - uses: ./.github/actions/setup-properties
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/setup-secrets
        with:
          google-services-json: ${{ secrets.GOOGLE_SERVICES_JSON }}

      - name: run detekt
        run: ./gradlew detekt --continue

      - name: report with ReviewDog
        if: ${{ failure() }}
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          < ./build/reports/detekt/merge.xml reviewdog -f=checkstyle -name="detekt" -reporter="github-pr-review"
