name: Lint
run-name: Lint

on:
  pull_request:
    paths-ignore:
      - "README.md"
      - "docs/**"
      - ".github/**"

jobs:
  lint:
    environment: build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-setup@v1.0.6

      - uses: ./.github/actions/setup-java
      - name: setup local.properties
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
        run: |
          echo "API_TOKEN=$API_TOKEN" >> local.properties
      - name: setup detekt.properties
        run: |
          # disable autoCorrect
          echo "autoCorrect=false" >> config/detekt/detekt.properties

      - name: run detekt
        run: ./gradlew detekt --continue

      - name: report with ReviewDog
        if: ${{ failure() }}
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          < ./build/reports/detekt/merge.xml reviewdog -f=checkstyle -name="detekt" -reporter="github-pr-review"
